div{
    margin-bottom: 20px;
}
div:nth-child(2){
    background-color: rgb(255, 7, 7);
}
div:nth-child(5){
    font-style: italic;
}
div:nth-child(even){
    border: 2px solid;
}
div::first-letter{
    font-size: 2rem;
}
